body {
	background-image: url("../img/cream_pixels.png");
	padding-top: 41px;
}

.splash {
	height: 35em;
	padding-top: 9em;
	margin-bottom: 2em;
	background-image: url("../img/hero-bg.png");
	background-size: cover;
	color: #fff;
	text-align: center;
}

.splash h1 {
	color: #fff;
}

@media (min-width: 979px) {
	#sidebar.affix {
		position: fixed;
		width: 255px;
	}
}

.affix,.affix-top {
   position:static;
}

img.spotlight  {
	width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  /* height: 30px; */
  padding: 8px 12px;
  line-height: 30px;
  /* border: 2px solid #ccc; */
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 500px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}