{% extends 'base.html' %}
{% block title %}{{ name|raw }}{% endblock %}

{% block header %}
<h1>{{ name|raw }}
{% if user %}
	<a class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit">Edit Act</a>
{% endif %}
</h1>{% endblock %}

{% block main %}
<div class='container'>
	<div class='col-md-9'>
		<div class='row'>
			{% if txt %}
			{{ txt }}
			{% else %}
			<i>This is where a description of the act should go.</i>
			{% endif %}
		</div><br />
		<div class='row'>
			<div class='panel panel-primary'>
				<div class='panel-heading'><h1 class='panel-title'>Upcoming Gigs</h1></div>
				{% if upcoming %}
				<table class='table table-striped table-hover'>
					<thead>
						<tr>
							<th>Title</th>
							<th>Venue</th>
							<th>City</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{% for id, gig in upcoming %}
							<tr>
								<td><a href="{{ siteroot }}/gig/{{ id }}">{{ gig.title|raw }}</a></td>
								<td>{{ gig.venue|raw }}</td>
								<td>{{ gig.metro }}</td>
								<td class='lg-time'>{{ gig.start }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div class='panel-body'>
					<p><i>No upcoming gigs were found.</i></p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class='col-md-3'>
		<img src='{{ img }}'>
	</div>
</div>

{% if user %}
<div class="modal" id="edit">
  <div class="modal-dialog">
	  <form action="{{ siteroot }}/admin/act/update/{{ id }}" method="POST">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
	        <h4 class="modal-title">Edit Act</h4>
	      </div>
	      <div class="modal-body">
	      <fieldset>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="name">Act Name</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<input type="text" class="form-control" id="name" name="name" placeholder="Act Name" value="{{ name|raw }}">
	      		</div>
	      	</div>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="desc">Act Description</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<textarea class="form-control" id="desc" name="desc" placeholder="Description">{{ txt }}</textarea>
	      		</div>
	      	</div>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="imgurl">Image URL</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<input type="text" class="form-control" id="imgurl" name="imgurl" value="{{ img }}" placeholder="http://path.to/image.jpg">
	      		</div>
	      	</div>
	      </fieldset>
	      </div>
	      <div class="modal-footer">
	      	<input type="hidden" name="prev" value="{{ path }}">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
	        <input type="submit" class="btn btn-primary" value="Save changes" />
	      </div>
	    </div>
	  </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block endjs %}
<script type="text/javascript">
$(document).ready(function(){
	$('.lg-time').each(function(){
		var t = $(this).text().split(/[- :]/);
		var d = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
		$(this).text(displayDate(d));
	});
});
</script>
{% endblock %}
