{% extends "admin_base.html" %}

{% block title %}Admins | Admin{% endblock %}

{% block moduleHead %}Admins{% endblock %}
{% block controls %}
<a class="btn btn-info">New Admin</a>
{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>User Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for id, user in users %}
			<tr>
				<td>{{ id }}</td>
				<td>{{ user.name }}</td>
				<td><a class="btn btn-sm btn-default">Change Password</a> <a class="btn btn-sm btn-danger">Delete</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}