{% extends "admin_base.html" %}

{% block title %}Gigs | Admin{% endblock %}

{% block moduleHead %}Gigs{% endblock %}
{% block controls %}
<a class="btn btn-info" href="{{ siteroot }}/admin/gig/create">New Gig</a>
<ul class="pagination pagination-sm">
  <li{% if curr == 1 %} class="disabled"{% endif %}><a href="{{ siteroot }}/admin/gigs/{{ curr - 1 }}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
	{% for x in range(1, ((count/perpage))|round(0, 'floor')) %}
		<li{% if curr == x %} class="active"{% endif %}><a href="{{ siteroot }}/admin/gigs/{{ x }}">{{ x }}</a></li>
	{% endfor %}
  <li{% if curr == ((count/perpage) + 1)|round(0, 'floor') %} class="disabled"{% endif %}><a href="{{ siteroot }}/admin/gigs/{{ curr + 1 }}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
</ul>
{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Act</th>
			<th>Venue</th>
			<th>Start Date/Time</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for id, gig in gigs %}
			<tr>
				<td>{{ id }}</td>
				<td>{{ gig.act|raw }}</td>
				<td>{{ gig.venue|raw }}</td>
				<td>{{ gig.start }}</td>
				<td><a class="btn btn-sm btn-default" href="{{ siteroot }}/gig/{{ id }}">View</a> <a class="btn btn-sm btn-danger">Delete</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}