{% extends "admin_base.html" %}

{% block title %}Admin{% endblock %}

{% block moduleHead %}ListGig Admin{% endblock %}
{% block content %}
<div class="panel-body">
	<h4>Welcome to ListGig's Admin Panel.</h4>
	<p>Please select a section to administer from the left</p>
</div>
{% endblock %}