{% extends "base.html" %}

{% block main %}
<br />
<div class="container">
	<div class="col-md-3">
		<div id="sidebar" data-spy="affix" data-offset-top="40">
			<div class="list-group">
			    <a href="{{ siteroot }}/admin" class="list-group-item{% if path == "/admin" %} active{% endif %}">
			        Admin Home
			    </a>
			    <a href="{{ siteroot }}/admin/acts" class="list-group-item{% if path[:10] == "/admin/act" %} active{% endif %}">
			        Acts
			    </a>
			    <a href="{{ siteroot }}/admin/venues" class="list-group-item{% if path[:12] == "/admin/venue" %} active{% endif %}">
			        Venues
			    </a>
			    <a href="{{ siteroot }}/admin/gigs" class="list-group-item{% if path[:10] == "/admin/gig" %} active{% endif %}">
			        Gigs
			    </a>
			    <a href="{{ siteroot }}/admin/users" class="list-group-item{% if path[:11] == "/admin/user" %} active{% endif %}">
			        Admins
			    </a>
			</div>
			{% block controls %}{% endblock %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading"><h2 class="panel-title">{% block moduleHead %}{% endblock %}</h2></div>
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}