{% extends "admin_base.html" %}

{% block title %}Venues | Admin{% endblock %}

{% block moduleHead %}Venues{% endblock %}
{% block controls %}
<a class="btn btn-info">New Venue</a>
<ul class="pagination pagination-sm">
  <li{% if curr == 1 %} class="disabled"{% endif %}><a href="{{ siteroot }}/admin/venues/{{ curr - 1 }}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
	{% for x in range(1, ((count/perpage)+1)|round(0, 'floor')) %}
		<li{% if curr == x %} class="active"{% endif %}><a href="{{ siteroot }}/admin/venues/{{ x }}">{{ x }}</a></li>
	{% endfor %}
  <li{% if curr == ((count/perpage) + 1)|round(0, 'floor') %} class="disabled"{% endif %}><a href="{{ siteroot }}/admin/venues/{{ curr + 1 }}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
</ul>
{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Venue Name</th>
			<th>Metro</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for id, venue in venues %}
			<tr>
				<td>{{ id }}</td>
				<td>{{ venue.name|raw }}</td>
				<td>{{ venue.metro }}</td>
				<td><a class="btn btn-sm btn-default">View</a> <a class="btn btn-sm btn-danger">Delete</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}