{% extends "admin_base.html" %}

{% block title %} Create Gig | Admin{% endblock %}
{% block moduleHead %}Create Gig{% endblock %}

{% block content %}
<div class="panel-body">
	<form action="{{ siteroot }}/admin/gig/create" method="POST" class="form" id="newGig">
		<fieldset>
			<div class="form-group row">
				<div class="col-md-2">
					<label for="gigName">Gig Name</label>
				</div>
				<div class="col-md-7">
					<input type="text" class="form-control" id="gigName" name="gigName" placeholder="Gig Name" autofocus>
				</div>
				<div class="col-md-3" id="err-gigName"></div>
			</div>
			<div class="form-group row">
				<div class="col-md-2">
					<label for="gigName">Start Date</label>
				</div>
				<div class="col-md-7">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" name="start" id="start" placeholder="Start Date/Time">
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="col-md-3" id="err-dateTime"></div>
			</div>
			<div class="form-group row">
				<div class="col-md-2">
					<label for="imgUrl">Gig Image URL</label>
				</div>
				<div class="col-md-7">
					<input type="text" class="form-control" id="imgUrl" name="imgUrl" placeholder="http://path.to/image.jpg">
				</div>
				<div class="col-md-3" id="err-imgUrl"></div>
			</div>
			<div class="form-group row">
				<div class="col-md-2">
					<label for="act">Act</label>
				</div>
				<div class="col-md-7">
					<input type="text" class="form-control" id="act" name="act" placeholder="Act Name">
				</div>
				<div class="col-md-3" id="err-act"></div>
			</div>
			<div class="form-group row">
				<div class="col-md-2">
					<label for="venue">Venue</label>
				</div>
				<div class="col-md-7">
					<input type="text" class="form-control" id="venue" name="venue" placeholder="Venue Name">
				</div>
				<div class="col-md-3" id="err-venue"></div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<a class="btn btn-primary" onclick="submitForm()">Create Gig</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block endjs %}
<script type="text/javascript" src="{{ siteroot }}/js/moment.js"></script>
<script type="text/javascript" src="{{ siteroot }}/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ siteroot }}/js/bootstrap-datetimepicker.en-gb.js"></script>
<script type="text/javascript" src="{{ siteroot }}/js/handlebars-v1.3.0.js"></script>
<script type="text/javascript" src="{{ siteroot }}/js/typeahead.bundle.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	// Let's init the datetimepicker
	$('#datetimepicker1').datetimepicker({
		language: 'en-GB',
		defaultDate: moment(),
	});

	// Now let's start to look into the typeaheads
	var inpAct = $('#act');
	var inpVenue = $('#venue');

	$.getJSON('{{ siteroot }}/api/json/venues/list', function(venuesJSON) {
		var engine = new Bloodhound({
			name: 'venues',
			local: venuesJSON,
			limit: 10,
			datumTokenizer: function(d) {
				return Bloodhound.tokenizers.whitespace(d.name);
			},
			queryTokenizer: Bloodhound.tokenizers.whitespace
		});

		engine.initialize();

		inpVenue.typeahead(null, {
			name: 'venue-input',
			displayKey: 'name',
			source: engine.ttAdapter(),
			templates: {
				suggestion: Handlebars.compile([
                    '<p class="venue-name">{{ '{{name}}' }}',
                    '<span class="venue-metro pull-right">{{ '{{metro}}' }}</span>',
                    '</p>'
				].join(''))
			}
		});

		$('.twitter-typeahead').each(function(){$(this).css('display', '')});
	});

	$.getJSON('{{ siteroot }}/api/json/acts/list', function(actsJSON) {
		var engine = new Bloodhound({
			name: 'acts',
			local: actsJSON,
			limit: 10,
			datumTokenizer: function(d) {
				return Bloodhound.tokenizers.whitespace(d.name);
			},
			queryTokenizer: Bloodhound.tokenizers.whitespace
		});

		engine.initialize();

		inpAct.typeahead(null, {
			name: 'act-input',
			displayKey: 'name',
			source: engine.ttAdapter(),
			templates: {
				suggestion: Handlebars.compile([
                    '<p class="venue-name">{{ '{{name}}' }}',
                    '</p>'
				].join(''))
			}
		});

		$('.twitter-typeahead').each(function(){$(this).css('display', '')});
	});
});

function submitForm() {
	$('#newGig').submit();
}
</script>
{% endblock %}