<!DOCTYPE html>
<html>
<head>
	<base href="{{ siteroot }}">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ siteroot }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ siteroot }}/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="{{ siteroot }}/css/simplex.min.css">
	<link rel="stylesheet" href="{{ siteroot }}/css/giglist.css">
	<style type="text/css">
	{% block headcss %}{% endblock %}
	</style>
	<title>{% block title %}ListGig{% endblock %} | ListGig</title>
</head>
<body>
{% include "parts/navbar.html" %}
<div class="container">
{% if flash and flash.message and path != '/' %}
    <div class="alert{% if flash.type %} alert-{{ flash.type }}{% endif %}">
        <a class="close" data-dismiss="alert">x</a>
        {{ flash.message }}
    </div>
{% endif %}
{% block header %}{% endblock %}
</div>

{% block main %}{% endblock %}

<hr>
<footer class="footer container">
	<div class='pull-left'>
		<p><small>ListGig</small></p>
		<p><small>Harry Reeder, 40052308</small></p>
		<p><small>2014</small></p>
	</div>
	<div class='pull-right' style='text-align: right;'>
		<p><small><a href='{{ siteroot }}/api'><i class='glyphicon glyphicon-info-sign'></i> API Reference</a> | {% if user %}Logged in as {{ user }} | <a href='{{ siteroot }}/logout'><i class='glyphicon glyphicon-log-out'></i> Log Out</a>{% else %}<a href='{{ siteroot }}/login'><i class='glyphicon glyphicon-log-in'></i> Admin Login</a>{% endif %}</small></p>
		<p><small><a href='#'><i class='glyphicon glyphicon-pencil'></i> Contact</a></small></p>
	</div>
</footer>
<script src="{{ siteroot }}/js/jquery-2.1.0.min.js" type="text/javascript"></script>
<script src="{{ siteroot }}/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ siteroot }}/js/utils.js" type="text/javascript"></script>
<script src="{{ siteroot }}/js/listgig.js" type="text/javascript"></script>
{% block endjs %}{% endblock %}
</body>
</html>
