{% extends 'base.html' %}
{% block headcss %}
#map-canvas {
	height: 350px;
}
{% endblock %}
{% block title %}{{ name|raw }}{% endblock %}

{% block header %}
<h1>{{ name|raw }}
{% if user %}
	<a class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit">Edit Gig</a>
{% endif %}
</h1>
{% endblock %}

{% block main %}
<div class='container'>
	<div class="col-md-7">
		<div class="row">
			<p>{{ act.name|raw }} performing at {{ venue.name|raw }}</p>
			<p><div id="countdown">{{ start }}</div></p>
		</div>
		<div class="row">
			<div id="map-canvas"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<div class="row">
			<img src="{{ act.img }}">	
		</div><br/>
		<div class="row">
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading"><h2 class="panel-title">Related Items</h2></div>
					<div class="panel-body">
						<a class="btn btn-info" href="{{ siteroot }}/act/{{ act.id }}">Artist Page</a>
						<a class="btn btn-info" href="{{ siteroot }}/venue/{{ venue.id }}">Venue Page</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if user %}
<div class="modal" id="edit">
  <div class="modal-dialog">
	  <form action="{{ siteroot }}/admin/gig/update/{{ id }}" method="POST">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
			<h4 class="modal-title">Edit Gig</h4>
		  </div>
		  <div class="modal-body">
		  <fieldset>
			<div class="form-group row">
				<div class="col-md-3">
					<label for="name">Gig Name</label>
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control" id="name" name="name" placeholder="Gig Name" value="{{ name|raw }}">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-3">
					<label for="desc">Start Date</label>	
				</div>
				<div class="col-md-9">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" name="start" id="start"/>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-3">
					<label for="imgurl">Image URL</label>	
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control" id="imgurl" name="imgurl" value="{{ img }}" placeholder="http://path.to/image.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9">
					<small>This gig was created with {{ act.name|raw }} as the act, and {{ venue.name|raw }} as the venue. If you wish to change these, please create a new gig</small>
				</div>
			</div>
		  </fieldset>
		  </div>
		  <div class="modal-footer">
			<input type="hidden" name="prev" value="{{ path }}">
			<button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
			<input type="submit" class="btn btn-primary" value="Save changes" />
		  </div>
		</div>
	  </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block endjs %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1eaWMTVueVa2KliLQORpxEpA4UaHtOIo&sensor=false&v=3">
</script>
<script type="text/javascript" src="{{ siteroot }}/js/jquery.countdown.min.js"></script>

{% if user %}
	<script type="text/javascript" src="{{ siteroot }}/js/moment.js"></script>
	<script type="text/javascript" src="{{ siteroot }}/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="{{ siteroot }}/js/bootstrap-datetimepicker.en-gb.js"></script>
{% endif %}
<script type="text/javascript">
function mapinit() {
	var eventVenue = new google.maps.LatLng({{ venue.lat }}, {{ venue.lng }})
	var mapOptions = {
		center: eventVenue,
		zoom: 17
	};

	var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

	var marker = new google.maps.Marker({
		position: eventVenue,
		map: map,
		title: "{{ venue.name|raw }} "
	});

	var contentString = "<div id='mapContent' style='width:128px;'>{{ venue.name|raw }}</div>"
	var infoWindow = new google.maps.InfoWindow({
		content: contentString
	});
	google.maps.event.addListener(marker, 'click', function() {
		infoWindow.open(map, marker);
	});
}
google.maps.event.addDomListener(window, 'load', mapinit);

$(document).ready(function(){
	var s = "{{ start }}"
	var t = s.split(/[- :]/);
	var d = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);

	$('#countdown').countdown(d, function(event){
		var output = 'Starting in ';
		var weeks = event.strftime('%w');
		if (weeks != '00') {
			output += '<span>' + weeks + '</span> weeks '
		};
		var days = event.strftime('%d');
		if (days != '00') {
			output += '<span>' + days + '</span> days '
		};
		var hours = event.strftime('%H');
		if (hours != '00') {
			output += '<span>' + hours + '</span> hours '
		};
		var minutes = event.strftime('%M');
		if (minutes != '00') {
			output += '<span>' + minutes + '</span> minutes '
		};
		var seconds = event.strftime('%S');
		if (seconds != '00') {
			output += '<span>' + seconds + '</span> seconds'
		};
		$(this).html(output);
	});

	{% if user %}
	$('#datetimepicker1').datetimepicker({
		language: 'en-GB',
		defaultDate: moment(d),
	});
	{% endif %}
});
</script>
{% endblock %}
