{% extends "base.html" %}

{% block headcss %}
.navbar-default {
	background-color: transparent;
	border-bottom: none;
}
body {
	padding-top: 0px;
}

.btn-transparent {
	border-color: #e72510;
	background-color: transparent;
}

.btn-transparent:hover {
	border-color: #fff;
}
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block main %}
<div class="splash">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1><img src="{{ siteroot }}/img/logo.png" alt="ListGig"></h1>
				<p>Find out what's happening on your local music scene.</p>
				<p><a class="btn btn-transparent btn-lg" href='{{ siteroot }}/search'>Begin Your Search <i class='glyphicon glyphicon-search'></i></a></p>
			</div>
		</div>
		{% if flash and flash.message %}
		    <div class="alert{% if flash.type %} alert-{{ flash.type }}{% endif %}">
		        <a class="close" data-dismiss="alert">x</a>
		        {{ flash.message }}
		    </div>
		{% endif %}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading"><h1 class="panel-title">Upcoming Gigs</h1></div>
				<table class="table" id="upcoming">
					<thead>
						
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default" id="spotlight">
				<div class="panel-heading"><h1 class="panel-title" style="text-align:right;">Artist Spotlight</h1></div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block endjs %}
<script type="text/javascript">
$(document).ready(function(){
	loadUpcoming('#upcoming');
	loadSpotlight('#spotlight');
});
</script>
{% endblock %}
