{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header %}<h1>Login</h1>{% endblock %}

{% block main %}
<br />
<div class="container">
	<div class="col-md-7">
		<form action="{{ siteroot }}/login" method="POST" name="login" role="form" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label for="user" class="col-sm-2">Username</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="user" placeholder="Username" name="user">
				</div>
			</div>
			<div class="form-group">
				<label for="passwd" class="col-sm-2">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="passwd" placeholder="Password" name="passwd">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<input type="submit" value="Login" class="btn btn-primary btn-block">
				</div>
			</div>
		</fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block endjs %}
{% endblock %}
