{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block header %}<h1>Search</h1>{% endblock %}

{% block main %}
<div class='container'>
	<div class='col-md-offset-2 col-md-8'>
		<div class='row'>
			<form class='form-horizontal' action="{{ siteroot }}/searchresults" method="POST">
				<fieldset>
					<div class='form-group'>
						<div class='col-md-12'>
							<div class='input-group'>
								<input type='text' class='form-control' id='searchbox'>
								<span class="input-group-btn">
			                      <button class="btn btn-default" type="submit"><i class='glyphicon glyphicon-search'></i> Go</button>
			                    </span>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class='row hidden' id='results'>
			<div class='panel panel-primary'>
				<div class='panel-heading'><h1 class='panel-title'>Results</h1></div>
				<table class='table table-striped table-hover' id='result-table'>
					<thead>
						<tr>
							<th>Type</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block endjs %}
<script type="text/javascript">
$(document).ready(function(){
	$('#searchbox').on('change keyup paste', function(){
		value = $('#searchbox').val();
		lgSearch(value);
	});
});
</script>
{% endblock %}
