{% extends 'base.html' %}
{% block title %}Venues{% endblock %}

{% block header %}<h1>Venues</h1>{% endblock %}

{% block main %}
<div class="container">
    <div class='row' style='text-align: center;'>
        <ul class='pagination'>
            {% for navletter in letters %}
            <li{% if navletter == letter %} class='active'{% endif %}><a href='{{ siteroot }}/venues/{% if navletter != '#' %}{{ navletter }}{% else %}num{% endif %}'>{{ navletter }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-heading'>Venues beginning with {{ letter }}</div>
            <table class='table table-striped'>
                <tbody>
                    {% for id, name in venues %}
                        <tr><td><a href='{{ siteroot }}/venue/{{ id }}'>{{ name|raw }}</a></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
