{% extends 'base.html' %}
{% block headcss %}
#map-canvas {
	height: 512px;
}
{% endblock %}
{% block title %}{{ name|raw }}{% endblock %}

{% block header %}
<h1>{{ name|raw }}
{% if user %}
	<a class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit">Edit Venue</a>
{% endif %}
</h1>{% endblock %}

{% block main %}
<div class='container'>
	<div class='col-md-6'>
		<div class="row">
			<ul>
				<li><b>Metropolitan Area</b>: {{ metro }}</li>
			</ul>
		</div>
		<div class='row'>
			{% if txt %}
			{{ txt }}
			{% else %}
			<i>This is where a description of the venue should go.</i>
			{% endif %}
		</div><br />		
		<div class='row'>
			<div class='panel panel-primary'>
				<div class='panel-heading'><h1 class='panel-title'>Upcoming Gigs</h1></div>
				{% if upcoming %}
				<table class='table table-striped table-hover'>
					<thead>
						<tr>
							<th>Act</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{% for id, gig in upcoming %}
							<tr>
								<td><a href="{{ siteroot }}/gig/{{ id }}">{{ gig.act|raw }}</a></td>
								<td class='lg-time'>{{ gig.start }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div class='panel-body'>
					<p><i>No upcoming gigs were found.</i></p>
				</div>
				{% endif %}
			</div>
		</div>
		{% if img %}
		<div class="row">
			<img src="{{ img }}">
		</div>
		{% endif %}
	</div>
	<div class='col-md-6'>
		<div id="map-canvas"></div>
	</div>
</div>
{% if user %}
<div class="modal" id="edit">
  <div class="modal-dialog">
	  <form action="{{ siteroot }}/admin/venue/update/{{ id }}" method="POST">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
	        <h4 class="modal-title">Edit Venue</h4>
	      </div>
	      <div class="modal-body">
	      <fieldset>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="name">Venue Name</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<input type="text" class="form-control" id="name" name="name" placeholder="Venue Name" value="{{ name|raw }}">
	      		</div>
	      	</div>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="desc">Venue Description</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<textarea class="form-control" id="desc" name="desc" placeholder="Description">{{ txt }}</textarea>
	      		</div>
	      	</div>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="metro">Metro</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<input type="text" class="form-control" id="metro" name="metro" placeholder="Metro" value="{{ metro }}">
	      		</div>
	      	</div>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="lat">Latitude/Longitude</label>	
	      		</div>
	      		<div class="col-md-3">
	      			<input type="text" class="form-control" id="lat" name="lat" placeholder="00.00" value="{{ lat }}">
	      		</div>
	      		<div class="col-md-3">
	      			<input type="text" class="form-control" id="lng" name="lng" placeholder="00.00" value="{{ lng }}">
	      		</div>
	      	</div>
	      	<div class="form-group row">
	      		<div class="col-md-3">
	      			<label for="imgurl">Image URL</label>	
	      		</div>
	      		<div class="col-md-9">
	      			<input type="text" class="form-control" id="imgurl" name="imgurl" value="{{ img }}" placeholder="http://path.to/image.jpg">
	      		</div>
	      	</div>
	      </fieldset>
	      </div>
	      <div class="modal-footer">
	      	<input type="hidden" name="prev" value="{{ path }}">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
	        <input type="submit" class="btn btn-primary" value="Save changes" />
	      </div>
	    </div>
	  </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block endjs %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1eaWMTVueVa2KliLQORpxEpA4UaHtOIo&sensor=false&v=3">
</script>
<script type="text/javascript">
function mapinit() {
	var eventVenue = new google.maps.LatLng({{ lat }}, {{ lng }})
	var mapOptions = {
		center: eventVenue,
		zoom: 17
	};

	var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

	var marker = new google.maps.Marker({
		position: eventVenue,
		map: map,
		title: "{{ venue.name|raw }} "
	});

	var contentString = "<div id='mapContent' style='width:128px;'>{{ name|raw }}</div>"
	var infoWindow = new google.maps.InfoWindow({
		content: contentString
	});
	google.maps.event.addListener(marker, 'click', function() {
		infoWindow.open(map, marker);
	});
}
google.maps.event.addDomListener(window, 'load', mapinit);

$(document).ready(function(){
	$('.lg-time').each(function(){
		var t = $(this).text().split(/[- :]/);
		var d = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
		$(this).text(displayDate(d));
	});
});
</script>
{% endblock %}