<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ siteroot }}/">ListGig</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ siteroot }}/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
				<li><a href="{{ siteroot }}/acts"><i class="glyphicon glyphicon-user"></i> Acts</a></li>
				<li><a href="{{ siteroot }}/venues"><i class="glyphicon glyphicon-road"></i> Venues</a></li>
				<li><a href="{{ siteroot }}/search"><i class="glyphicon glyphicon-search"></i> Search</a></li>
				{% if user %}
				<li class="dropdown"><a href="{{ siteroot }}/admin"><i class="glyphicon glyphicon-dashboard"></i> Admin</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
